### Build directories
/*.egg-info/
build/
dist/
fixture/
/proto/

### IQ Waveform/Capture
*.iqw
*.rsi
*.tar
*.wv
*.xml

### Administrative
*.pyc
*.lnk
*.code-workspace
*.bat

### Data files
*.csv
*.txt
*.json
*.xls
*.log
*.pdf
*.png
*.ppt
*.pptx
*.xlsx
*.xlsm
*.zip

## Testing Files
htmlcov
.coveralls.yml
test/.coverage
/*.coverage

## R&S Files
*.allocation
*.nr5g
src/a_debug.py
src/VISA_debug.py
pyTools/utils/iSocket.py
*_debug.py
